@media(max-width: 624px){
    .cabecalho{
        justify-content: center;
    }
    .cabecalho{
        margin-bottom: 30px;
    }
    .cabecalho .manu .item a{
        font-size: calc(0.6em + 1vw);
    }
    .conteudo-principal .paineis{
        height: 400px;
    }
}

@media(max-width: 1200px){
    .quem-somos .conteudo{
        flex-direction: column;
        text-align: center;
        padding: 100px 10px;
    }
    .quem-somos .conteudo .imagem{
        display: none;
    }
    .quem-somos .conteudo .informacoes{
        width: 100%;
    }
}

@media(max-width: 940px){
    .rodape .navegacao{
        justify-content: center;
    }

    .rodape .navegacao .Logo{
        margin-bottom: 30px;
    }

    .rodape .navegacao .logo,
    .rodape .rodape .redes-sociais{
        width: 100%;
        justify-content: center;
    }
}